@media(max-width: 1600px) {
  .container {
    max-width: 1000px;
  }
}

@media(max-width: 1200px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .container {
    width: 700px
  }
}

@media (max-width: 720px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 520px;
  }
}

body{
  display: flex;
  justify-content: center;
  background-color: #E8AABD;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.img-circle{
  border-radius: 60px;
  height: 300px;
}

h1, h2, h3 {
  font-family: 'Roboto' serif;
  font-weight: 500;
  }

.btn-pink{
  background-color: #E8AABD;
  color: #FFFFFF;
  border-radius: 10px;
  text-decoration: none;
  padding: 15px 25px;
}

.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
}

.list{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  }

.list li{
  padding: 20px;
}
